@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(image/successbg.jpg) no-repeat;
    background-size: cover;
}

table {
	background-color: 87cefa;
	color: #FFFFFF;
}
