@charset "UTF-8";

div.back {
	
	padding-bottom: 23px;
	width: 500px;
	margin: 35px 60px;

}

div.a {
	border-style: solid;
	border-color: #ffffff;
	border-radius: 15px;
}

body {
	    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(image/updatebg.png) no-repeat;
    background-size: cover;
}

table {
	
	color: #FFFFFF;
}

td {
	padding: 5px;
	font-weight: bold;
}

h1 {
	color: #FFFFFF;
}

.kuang {
	border-radius: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: gray solid 1px;
	background-color: #F5FFFA;
}

select, textarea {
	border-radius: 7px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: gray solid 1px;
	background-color: #F5FFFA;
}

input[type="file"] {
	border-radius: 7px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: gray solid 1px;
	background-color: #F5FFFA;
}

.anniu {
	border-radius: 7px;
	padding: 6px 30px;
	background-color: #F5FFFA;
	font-size: 14px;
	font-weight: bold;
}
.neirong{
	margin-top:10px;
	border-style:double;
	border-color:#ffffff;
	border-radius:15px;
	border-width:medium;
	padding-bottom:9px;
}
input[type="submit"]{
}
